{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/login.css">
{% endblock %}

{% block title %}
	<title>Workfusion</title>
{% endblock %}

{% block main %}
	<section>
		<div>
			<form {% if isEmploye %} action="/loginEmploye" {% else %} action="/login" {% endif %} method="POST">
				<div>
					<h2>Formulaire de connexion</h2>
					<div>
						<label for="mail">Email</label>
						<input type="mail" name="mail" id="mail">
					</div>
					<div>
						<label for="password">password</label>
						<input type="password" name="password" id="password">
					</div>
					<button type="submit">Se connecter</button>
				</div>
			</form>
		</div>
	</section>
	{% if error %}
		<div class="error">{{ error.password or error.mail }}</div>
	{% endif %}

{% endblock %}
